<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Person</title>
</head>
<body>

<form th:method="POST" th:action="@{/people/{id}(id=${editedPerson.getId()})}" th:object="${editedPerson}">
  <label for="input-name">Enter the name of new person</label>
  <input type="text" th:field="*{name}" id="input-name"/>
  <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
  <br/>
  <label for="input-email">Enter the email of new person</label>
  <input type="text" th:field="*{email}" id="input-email"/>
  <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
  <br/>
  <label for="input-age">Enter the age of new person</label>
  <input type="text" th:field="*{age}" id="input-age"/>
  <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
  <br/>
  <input type="submit" value="Push the button to edit this person">
</form>

</body>
</html>