<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person by Id</title>
</head>
<body>

<p th:text="${personById.getName()}"></p>
<p th:text="${personById.getId()}"></p>
<p th:text="${personById.getEmail()}"></p>
<p th:text="${personById.getAge()}"></p>

<br/>

<a th:href="@{/people/{id}/edit(id=${personById.getId()})}">Edit this person</a>

<form th:method="POST" th:action="@{/people/{id}/delete(id=${personById.getId()})}">
    <input type="submit" value="Delete this person">
</form>


</body>
</html>